# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Virtual environments
venv/
.env/
.venv/
*.env
.env.bak

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# uv cache
.uv/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Pytest / Coverage
.coverage
.pytest_cache/
htmlcov/
